/* Center the ul and li elements on the screen */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Style for the h2 heading */
h2{
    font-size: 24px;
    font-weight: bold;
    color: #000; /* Black text color */
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

label{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

.steptracker-text-added{
    display: flex;
    justify-content: center;
}

.steptracker-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 6em;
    margin-bottom: 4em;
}

