<h2>How many steps have you taken today?</h2>
<ul class="steptracker-ul">
  <li *ngFor="let step of steps">
    <span class="name">{{step.name}}</span>
  </li>
</ul>
<div style="display: flex; justify-content: center">
  <label for="name">Steps taken: </label>
  <input id="name" [(ngModel)]="newStepName" placeholder="" (input)="handleInputChange($event)">
  <button (click)="addStep()">Add Step</button>
</div>

<div class="steptracker-wrapper">
  <canvas style="width: 800px;" baseChart
    [data]="barChartData"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [type]="'bar'">
  </canvas>
</div>
