<h2>Choose the weather</h2>
<ng-container *ngIf="visible">
  <ul class="weather">
    <li *ngFor="let weatherItem of weather">
      <button [class.selected]="weatherItem === selectedWeather" type="button" (click)="onSelect(weatherItem)">
        <span class="badge">{{weatherItem.id}}</span>
        <span class="name">{{weatherItem.name}}</span>
      </button>
    </li>
  </ul>
</ng-container>	
<div *ngIf="selectedWeather"> <!-- Only show when selectedWeather is set and visible is false -->
  <p>Selected weather: {{selectedWeather?.name}}</p>
</div>
