<h2>List of books</h2>
<ul class="books">
  <li *ngFor="let book of books">
    <button [class.selected]="book === selectedBook" type="button" (click)="onSelect(book)">
      <span class="badge">{{ book.id }}</span>
      <span class="name">{{ book.name }}</span>
    </button>
  </li>
</ul>

<div class="selected-book" *ngIf="selectedBook">
  <h2>{{ selectedBook.name | uppercase }} Details</h2>
  <div>
    <label for="book-name">Books name: </label>
    <input id="book-name" [(ngModel)]="selectedBook.name" placeholder="name"/>
  </div>
  <p>{{ selectedBook.description }}</p>
</div>

<div *ngIf="router.url == '/books'">
  <div class="new-book-container">
    <h2>Add a new book</h2>
    <div>
      <div>
        <label for="new-book-name">Book name: </label>
        <input id="new-book-name" [(ngModel)]="newBookName" placeholder="Enter book name"/>
      </div>
      <div>
        <label for="new-book-description">Book description: </label>
        <input id="new-book-description" [(ngModel)]="newBookDescription" placeholder="Enter book description"/>
      </div>
      <div class="add-book">
        <button (click)="addBook()">Add Book</button>
      </div>
    </div>
  </div>
</div>