<div class="heading">
    <h1><a routerLink="/">{{title}}</a></h1>
</div>
<nav>
    <a routerLink="/">Home</a>
    <a routerLink="/weather">Weather</a>
    <a routerLink="/steptracker">Steptracker</a>
    <a routerLink="/books">Books</a>
    <a routerLink="/birthday">Birthdays</a>
    <a routerLink="/overview">Overview</a>
</nav>
<div class="content-wrapper">
    <router-outlet></router-outlet>
</div>
<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>&copy; Bullet Journal</p>
        </div>
        <div class="col-md-6">
          <ul class="footer-links">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/weather">Weather</a></li>
            <li><a routerLink="/steptracker">Steptracker</a></li>
            <li><a routerLink="/books">Books</a></li>
            <li><a routerLink="/birthday">Birthdays</a></li>
            <li><a routerLink="/overview">Overview</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  