/* Center the ul and li elements on the screen */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Style for the h2 heading */
h2 {
    font-size: 24px;
    font-weight: bold;
    color: #000; /* Black text color */
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

p{
    font-size: 24px;
    color: #000; /* Black text color */
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

/* Style for the list */
ul.days {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

/* Style for list items */
ul.days li {
    margin-bottom: 10px;
}

/* Style for the button */
ul.days li button {
    background-color: #089999; /* Green color */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Hover effect for the button */
ul.days li button:hover {
    background-color: #127777; /* Darker green color on hover */
}

/* Style for the badge */
ul.days li .badge {
    background-color: #E91E63; /* Pink color */
    color: #fff;
    border-radius: 50%;
    padding: 5px 10px;
    margin-right: 10px;
    font-weight: bold;
}

/* Style for the name */
ul.days li .name {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}